<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProyectosContext" connectionString="data source=localhost;initial catalog=ProyectoDB;persist security info=True;user id=ProyectosUser;password=1234abcd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>